{%extends "layout.html"%}
{%block body%}

<div class="container">
{%for hoax in data%}
<div class="container-post">
	<div class="row">
		<div class="col-md-8">
			<h3><a href="/hoax/{{hoax.id}}">{{hoax.title}}</a></h3>		
		</div>
	</div>	

	<div class="row">
		<div class="col-md-4">
			<p><a href="{{hoax.url}}">{{hoax.url}}</a></p>
		</div>
		
		<div class="col-md-4">
			<h4>Hoax Score: <span class="label label-danger">{{hoax.hoax_score}}</span></h4>
		</div>
	</div>
	<form class="form-inline">
		<div class="form">
		<button type="submit" class="btn wrapper" formmethod="post" formaction="/upvote/{{hoax.id}}">upvote</button>
		<button type="submit" class="btn wrapper" formmethod="post" formaction="/downvote/{{hoax.id}}">downvote</button>
		</div>
	</form>
</div>
{%endfor%}
</div>
{%endblock%}