<!DOCTYPE html>
<html>
<head>
	<title>Lapor Hoax</title>
	<link rel="stylesheet" type="text/css" href="{{url_for("static", filename="bootstrap.css")}}">
	<script type="text/javascript" src="{{url_for("static", filename="bootstrap.min.js")}}"></script>
	<script type="text/javascript" src="{{url_for("static", filename="jquery.min.js")}}"></script>
<style type="text/css">


</style>

</head>

<body>
	
	<nav class="nav navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="navbar" aria-expanded="false" aria-control="navbar" >
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="navbar" class="nav navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/create">Submit</a></li>
				<li><a href="/masuk">Masuk</a></li>
				<li><a href="/tentang">Tentang</a></li>
			</ul>
				<div class="navbar-form">
					<form style="padding-left: 5%" class="form-inline" action="/cari" method="post">
					<div class="form-group">
						<input  class="form-control" placeholder="" type="text" style="width:auto; height: 50px; width: 600px; ;" required="true" name="text"></input>
						<button type="submit" class="btn wrapper" style="height: 50px;">Cari</button>	
					</div>
					</form>	
				</div>
		</div>
	</nav>

<div class="container">

{% if not data %}

<p>No Post Available :(</p>
<p>Why not create <a href="/submit">one</a>?</p>

{% else %}

{%for hoax in data%}
<div class="container-post">
	<div class="row" style="padding-top: 1%;">
		<h3><a href="hoax/{{hoax.id}}">{{hoax.title}}</a></h3>		
		<p>Score: <span class="label label-danger">{{hoax.hoax_score}}</span></h4>
		<p><a href="{{hoax.url}}">{{hoax.url}}</a></p>
		<p>{{hoax.pub_date}}</p>
	</div>	
</div>
{%endfor%}

{%endif%}
</div>


	


</hr>
</div>
</div>
</body>
</html>