<!DOCTYPE html>
<html>
<head>
	<title>Lapor Hoax</title>
	<link rel="stylesheet" type="text/css" href="{{url_for("static", filename="bootstrap.css")}}">
	<script type="text/javascript" src="{{url_for("static", filename="")}}"></script>
</head>
	<nav class="nav navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="navbar" aria-expanded="false" aria-control="navbar" >
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="navbar" class="nav navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Find Hoax</a></li>
				<li><a href="/hoax">Latest Hoax</a></li>
				<li><a href="/hoax/top">Top Hoax</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/create">Submit</a></li>
				<li><a href="/login">Masuk</a></li>
				<li><a href="/tentang">Tentang</a></li>
			</ul>

			<div class="navbar-form">
		<form style="padding-left: 5%" class="form-inline" action="/cari" method="post">
			<div class="form-group">
				<input  class="form-control" placeholder="" type="text" style="width:auto; height: 50px; width: 600px; ;" required="true" name="text"></input>
				<button type="submit" class="btn wrapper" style="height: 50px;">Cari</button>	
				</div>
		</form>	
		</div>
	</div>
	</nav>

	{% block body %}
	{% endblock %}
</html>